.header
  .header-box
    .header-left
      .header-left__title
        = link_to root_path do
          ロジスティックシステム
      
    .header-right
      .header-right__name
        = current_user.name
      .header-right__btn
        = link_to edit_user_path(current_user), class: "header-right__btn-icon" do
          = icon('fas', 'cog', class: "icon")
.content
  .content-list
    = link_to directeds_path, class: "list-btn content-list__btn-directed" do
      %span<>
      指示書
    = link_to messages_path, class: "list-btn content-list__btn-message" do
      %span<>
      メッセージ
    = link_to "#", class: "list-btn content-list__btn-shift" do
      %span<>
      勤怠管理

.content-box
  = render @directeds


.footer
  = form_for @directed do |f|
    = f.text_field :text, class: 'form__directed', placeholder: 'タイトルを入力してください'
    .form__mask
      = f.label :image, class: 'form__mask-image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
    = f.submit '登録', class: 'form__submit'

= paginate @directeds
