.header
  .header-box
    .header-left
      .header-left__title
        = link_to root_path do
          ロジスティックシステム
      
    .header-right
      .header-right__name
        = current_user.name
      .header-right__btn
        = link_to edit_user_path(current_user), class: "header-right__btn-icon" do
          = icon('fas', 'cog', class: "icon")
.content
  .content-list
    = link_to directeds_path, class: "list-btn content-list__btn-directed" do
      %span<>
      指示書
    = link_to messages_path, class: "list-btn content-list__btn-message" do
      %span<>
      メッセージ
    = link_to "#", class: "list-btn content-list__btn-shift" do
      %span<>
      勤怠管理

.message-box
  = render @messages

.footer
  = form_for @message do |f|
    = f.text_field :text, class: 'form__message', placeholder: 'type a message'
    .form-message__mask
      = f.label :image, class: 'form-message__mask-image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'text'
    = f.submit '送信', class: 'form__btn'

